container_commands:
  05_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
    leader_only: true
  10_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  15_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "notejam.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: notejam/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
